* {
	box-sizing: border-box;
}

/* .shopping-cart {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
	max-height: fit-content;
	margin: auto;
	text-align: left;
	font-family: arial;
	padding: 10px;
} */
h1 {
	font-weight: 100;
	margin-bottom: 50px;
	margin-left: 50px;
}

label {
	color: #aaa;
}

.body-container {
	display: flex;
	width: 100vw;
	justify-content: center;
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 70%;
	margin-left: 80px;
}

.flex-item {
	display: flex;
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
	width: 90%;
	height: 150px;
	/* justify-self: center; */
	gap: 80px;
	align-items: center;
}

.product-title {
	margin-bottom: 2px;
	color: #aaa;
}

.product-description {
	width: 400px;
	text-align: justify;
}

.pic {
	height: 140px;
	width: 150px;
}

.select {
	width: 50px;
	height: 30px;
	background-color: rgb(238, 238, 238);
}

.clickable {
	transition: 0.4s ease-in-out;
}

.clickable:hover {
	transform: scale(104%);
}

/* Totals section */

.totals {
	font-size: large;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 80px;
	width: 20%;
	height: 200px;
}

.totals-item {
	clear: both;
	width: 100%;
	margin-bottom: 10px;
}

.totals-item label {
	clear: both;
	width: 79%;
	text-align: right;
}

.totals-value {
	float: right;
	width: 21%;
	text-align: right;
}

.totals-item-total {
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}

.checkout {
	width: 80%;
	float: right;
	border: 0;
	margin-top: 20px;
	padding: 6px 25px;
	background-color: rgb(66, 137, 224);
	color: #fff;
	font-size: 25px;
	border-radius: 3px;
	transition: 0.3s ease-in-out;
}

.checkout:hover {
	background-color: rgb(35, 80, 177);
	cursor: pointer;
}
